In [5]:
#Import dependencies

import numpy as np
import pandas as pd

import difflib

from sklearn.metrics.pairwise import cosine_similarity

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score



import pickle

**Data Preproccecing**

In [6]:
data_set=pd.read_csv("/content/movies.csv")

In [7]:
data_set.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [8]:
data_set.shape

(4803, 24)

In [9]:
data_set.isnull().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [10]:
type(data_set)

pandas.core.frame.DataFrame

In [11]:
data_set.describe()

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4803.000000,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2401.000000,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,1386.651002,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,1200.500000,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,2401.000000,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,3601.500000,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,4802.000000,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [12]:
selected_feature=["genres","keywords","tagline","cast","director"]

In [13]:
for i in selected_feature:
  data_set[i]=data_set[i].fillna("")

  print(i)

genres
keywords
tagline
cast
director

In [14]:
combined_data_set=data_set["genres"]+data_set["keywords"]+data_set["tagline"]+data_set["cast"]+data_set["director"]

In [15]:
print(combined_data_set)

0       Action Adventure Fantasy Science Fictioncultur...
1       Adventure Fantasy Actionocean drug abuse exoti...
2       Action Adventure Crimespy based on novel secre...
3       Action Crime Drama Thrillerdc comics crime fig...
4       Action Adventure Science Fictionbased on novel...
                              ...
4798    Action Crime Thrillerunited states\u2013mexico...
4799    Comedy RomanceA newlywed couple's honeymoon is...
4800    Comedy Drama Romance TV Moviedate love at firs...
4801    A New Yorker in ShanghaiDaniel Henney Eliza Co...
4802    Documentaryobsession camcorder crush dream gir...
Length: 4803, dtype: object

In [16]:
vectorizer=TfidfVectorizer()

In [17]:
feature_vector=vectorizer.fit_transform(combined_data_set)

In [18]:
print(feature_vector)

  (0, 245)	0.07858581760804864
  (0, 444)	0.09109355212252296
  (0, 8936)	0.11806131645084655
  (0, 21836)	0.09966592997173947
  (0, 9304)	0.27385789694599244
  (0, 4456)	0.2179967521551067
  (0, 10193)	0.1653243242081299
  (0, 22916)	0.3366875640692919
  (0, 26334)	0.130597230719163
  (0, 4676)	0.24529097704249617
  (0, 22778)	0.27385789694599244
  (0, 24197)	0.07518543993419267
  (0, 27161)	0.12619886579371511
  (0, 18164)	0.08690831799482268
  (0, 18558)	0.26121683351048536
  (0, 21521)	0.15623566659433683
  (0, 27182)	0.23480088356130557
  (0, 27540)	0.19771357974524179
  (0, 21487)	0.21550128478931552
  (0, 22464)	0.2020708956871175
  (0, 26547)	0.19638671147741735
  (0, 23267)	0.16128139780622522
  (0, 14550)	0.22368093636480682
  (0, 16614)	0.1569607387745327
  (0, 20729)	0.27385789694599244
  :	:
  (4801, 18790)	0.22450140828104795
  (4801, 11776)	0.3005604008026175
  (4801, 758)	0.19369913462690624
  (4801, 8121)	0.2611505149930138
  (4801, 27513)	0.3005604008026175
  (4801, 27361)	0.31510541707008866
  (4801, 22170)	0.31510541707008866
  (4801, 5449)	0.31510541707008866
  (4801, 21297)	0.31510541707008866
  (4801, 22322)	0.31510541707008866
  (4801, 12520)	0.31510541707008866
  (4802, 7626)	0.17686850692938538
  (4802, 3128)	0.17288424030654004
  (4802, 8313)	0.1713172199751922
  (4802, 5354)	0.2196244946235084
  (4802, 2027)	0.19514642661077047
  (4802, 20664)	0.1718311116708895
  (4802, 11042)	0.2245754361399493
  (4802, 5847)	0.2598601666162226
  (4802, 9174)	0.23381507827213685
  (4802, 3569)	0.2526933433912742
  (4802, 6978)	0.28212235292045307
  (4802, 10640)	0.28212235292045307
  (4802, 11874)	0.5642447058409061
  (4802, 7770)	0.28212235292045307

***Checking the Similarity***

In [19]:
Similarity=cosine_similarity(feature_vector)

In [20]:
print(Similarity)

[[1.         0.06865296 0.01492221 ... 0.         0.         0.        ]
 [0.06865296 1.         0.02799128 ... 0.01243107 0.         0.        ]
 [0.01492221 0.02799128 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.01243107 0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [21]:
Similarity.shape

(4803, 4803)

**Taking The Input From User**

In [22]:
#Converting all movie name into a list

**Finding The Close Match**

In [28]:
Movie_List=data_set["title"].tolist()

In [23]:
#Sorting the values

***Making The Predictive System***

In [29]:
print("Welcome To Movie Recommendation System!")
print()
user_input=input("Enter Your Favoutite Show!")
Find_close_match=difflib.get_close_matches(user_input,Movie_List)


Movie_List=data_set["original_title"].tolist()



close_match=Find_close_match[0]

filtered_data = data_set[data_set.title == close_match]


if not filtered_data.empty:
    close_index = filtered_data["index"].values[0]
    print(f"Index found: {close_index}")
else:
    print("Movie not found in dataset!")


similarity_score=list(enumerate(Similarity[close_index]))


sorting_similarity=sorted(similarity_score ,key=lambda x:x[1],reverse=True)


print("Here are the suggested movie for you : \n")


i=0

for k in sorting_similarity:
  index=k[0]
  title_from_index=data_set[data_set.index==index]["title"].values[0]

  if i<30:
    print(i,".",title_from_index)
    i+=1

Welcome To Movie Recommendation System!

Enter Your Favoutite Show!Avatar
Index found: 0
Here are the suggested movie for you :

0 . Avatar
1 . Alien
2 . Guardians of the Galaxy
3 . Moonraker
4 . Space Dogs
5 . Alien³
6 . Aliens
7 . Clash of the Titans
8 . The Right Stuff
9 . Star Trek Beyond
10 . The Astronaut's Wife
11 . Galaxy Quest
12 . Wing Commander
13 . Star Trek Into Darkness
14 . Terminator Salvation
15 . Cargo
16 . Planet of the Apes
17 . Imaginary Heroes
18 . Shadow Conspiracy
19 . The Book of Life
20 . Sunshine
21 . Pocahontas
22 . Out of the Furnace
23 . Snow White: A Tale of Terror
24 . Cedar Rapids
25 . The Iron Giant
26 . Treasure Planet
27 . Star Wars: Clone Wars: Volume 1
28 . Star Trek
29 . Men in Black II

In [30]:
pickle.dump(Movie_List,open("Movies.Pkl","wb"))